<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techstudio.sakila.dao.mapper.InventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.techstudio.sakila.domain.Inventory">
        <id column="inventory_id" property="inventoryId" />
        <result column="film_id" property="filmId" />
        <result column="store_id" property="storeId" />
        <result column="last_update" property="lastUpdate" />
    </resultMap>

</mapper>
