<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techstudio.sakila.dao.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.techstudio.sakila.domain.Staff">
        <id column="staff_id" property="staffId" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="address_id" property="addressId" />
        <result column="picture" property="picture" />
        <result column="email" property="email" />
        <result column="store_id" property="storeId" />
        <result column="active" property="active" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="last_update" property="lastUpdate" />
    </resultMap>

</mapper>
